h3{
	font-size: 30px;
}
body
{
	background-image: url(bench.jpg);
	background-attachment: fixed;
	background-size: cover;
}
body.hover{
	background-color: grey;
	transition: 0.5s;
}
b{
	font-size: 25px;
}
nav
{
	overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  /* Position the navbar at the top of the page */
  width: 100%;
   padding-left: 70%;
   
}
#ug,#sslc,#hsc,#intern,#Mycertification,#project{
	padding-left: 50%;
	font-size: 20px;
}
#pic{
	font-size: 30px;
}
#info{
	font-weight: bold;
	font-size: 20px;
}
button{
	font-size: 12px;
	background-color:dimgrey;
	padding: 10px;
	padding-right: 15px;
	border-radius: 7px;
	box-shadow: 0px 0px 2px 2px grey;
}
button:hover{
	background-color: white;
	transition: 0.7s;
}
#imge{
	padding-left: 40%;
	width: 150px;
	
}